# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.spec

# Logs
logs/
*.log

# Ambiente virtual
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema operacional
.DS_Store
Thumbs.db
desktop.ini

# Planilhas com dados sensíveis (remova esta linha se quiser versionar exemplos)
*.xlsx
*.xls
